<div class="d-flex flex-column">
  <h5>New Person Form (Reactive)</h5>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput type="text" formControlName="firstname">
      <mat-error>First Name is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput type="text" formControlName="lastname">
      <mat-error>Last Name is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="text" formControlName="email">
      <mat-error>Email is required</mat-error>
    </mat-form-field>
  </form>

  <button 
    mat-flat-button
    color="primary"
    [disabled]="form.invalid"
    (click)="onSubmit()"
  ></button>

  <button
    mat-flat-button
    (click)="onSetValue()"
  ></button>
</div>