<div>
  <h4>Create User</h4>

  {{form.value | json}}
  <form class="d-flex flex-column" [formGroup]="form">
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input type="text" matInput formControlName="username">
        <mat-error>Username is required</mat-error>
      </mat-form-field>

      <mat-form-field>
          <mat-label>Firstname</mat-label>
          <input type="text" matInput formControlName="firstname">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Lastname</mat-label>
        <input type="text" matInput formControlName="lastname">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="text" matInput formControlName="email">
        <mat-error>Email is required</mat-error>
      </mat-form-field>

      <div class="d-flex flex-column" formGroupName="address"> 
        <mat-form-field>
          <mat-label>Area</mat-label>
          <input type="text" matInput formControlName="area">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Street</mat-label>
          <input type="text" matInput formControlName="street">
        </mat-form-field>
      </div>

      <div formArrayName="phone">
        @for (p of phone.controls; let i=$index; track i){
        <div [formGroupName]="i" class="d-flex gap-3 align-items-center">
          <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select formControlName="type">
              <mat-option value="mobile">Mobile</mat-option>
              <mat-option value="work">Work</mat-option>
              <mat-option value="home">Home</mat-option>
            </mat-select>
          </mat-form-field>

           <mat-form-field>
            <mat-label>Number</mat-label>
            <input type="text" matInput formControlName="number">
          </mat-form-field>

          @if(phone.controls.length > 1 && i!== 0) {
            <span role="button" class="cursor-pointer" (click)="deletePhoneNumber(i)">delete</span>
          }

          @if(phone.controls[i].valid) {
            <span role="button" class="cursor-pointer" (click)="addPhoneNumber()">add</span>
          }
      </div>
    }
    </div>
  </form> 
</div>