.container {
  max-width: 900px;
}

.card {
  border-radius: 15px;
  background-color: #ffffff;
}

h2 {
  font-size: 1.5rem;
}

mat-form-field {
  display: block;
}

button[type="submit"] {
  padding: 0 20px;
}