<table class="table table-bordered w-50">
  <caption class="caption-top fw-bold bg-primary text-light text-center">
    User Details from Step 2 Component
  </caption>
  <tr>
    <td class="fw-semibold text-end">First Name</td>
    <td class="ps-2">{{user.firstname}}</td>
  </tr>
    <tr>
    <td class="fw-semibold text-end">Last Name</td>
    <td class="ps-2">{{user.lastname}}</td>
  </tr>
    <tr>
    <td class="fw-semibold text-end">Email</td>
    <td class="ps-2">{{user.email}}</td>
  </tr>
</table>